.sample
  float:left
  margin-bottom: 10px
  width: 100px
  height: 100px
  display: inline-block

h1.inline
  display: inline

h2.inline, h3.inline
  display: inline

.active
  -webkit-box-shadow: 0 0 20px #0084ED
  -moz-box-shadow: 0 0 20px #0084ED
  box-shadow: 0 0 20px #0084ED

.color-label
  border-left-width: 7px
  border-left-style: solid

.color-label > p
  margin-left: 7px

.red
  border-left-color: red

.blue
  border-left-color: blue

.green
  border-left-color: green

.orange
  border-left-color: orange
